.leaflet-container {
  width: 100%;
  height: 100vh;
}

.ideaContainer {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  background-color: #333333;
  color: white;
  padding: 10px;
}

.ideaContainer a {
    color: #ffcc66;
    text-decoration: none;
}

.ideaContainer a:visited {
  color: #ffcc66;
}

.ideaContainer a:hover {
  text-decoration: underline;
}